.hello{
    color: blue;
    text-align: center;
}
#heading{
    align-items: center;
    justify-content: center;
    display: flex;
}
.button{
    margin-left: 350px;
    margin-top: 10px;
    padding: 7px;
    background: #e00707;
    color: #ffffff;
    border: none;
    outline: none;
 }